<section class="home">
    <img src="/assets/background.jpg">

    <div class="homecontent">
        <h1> Creating the future of gaming and esports </h1>
        <a routerLink="contact" class="btn">Get in touch!</a>
    </div>
</section>

<div class="container mt-3">
    <div class="mt-4 p-5 jumbo text-white rounded">
        <h1 class="text-center">ABOUT US</h1>
        <p class="text-center text-wrap">
            Team 8bit is a Mobile Gaming Team, with a vision beyond expectations. We strives to promote and support
            Mobile
            Gaming in India. We are a closely knit team that feels that 'brotherhood' is one of our major strengths.
        </p>
    </div>
</div>

<div class="container mt-3">
    <div class="mt-4 p-5 jumbo text-white rounded">
        <h1 class="text-center">GAMES THIS WEEK</h1>
        <h3 class="text-center">MAY 22 | 02:00 PM </h3>

        <div class="d-flex justify-content-around">
            <div class="card">
                <div class="table">
                    <span class="vs">
                        <h2>BGMI</h2>
                    </span>
                </div>
                <div class="table">
                    <span class="vs vs-o">
                        MAY 22 | 02:00 PM
                    </span>
                </div>
                <div>
                    <img src="../../assets/logo.png" alt="Snow" style="width:100%">
                </div>
                <div class="table">
                    <span class="vs vs-o"> vs </span>
                </div>
                <div class="table">
                    <span class="vs"> VITALITY </span>
                </div>
            </div>
            <div class="card">
                <div class="table">
                    <span class="vs">
                        <h2>CODM</h2>
                    </span>
                </div>
                <div class="table">
                    <span class="vs vs-o">
                        MAY 22 | 02:00 PM
                    </span>
                </div>
                <div>
                    <img src="../../assets/logo.png" alt="Snow" style="width:100%">
                </div>
                <div class="table">
                    <span class="vs vs-o"> vs </span>
                </div>
                <div class="table">
                    <span class="vs"> VITALITY </span>
                </div>
            </div>
            <div class="card">
                <div class="table">
                    <span class="vs">
                        <h2>VALORANT</h2>
                    </span>
                </div>
                <div class="table">
                    <span class="vs vs-o">
                        MAY 22 | 02:00 PM
                    </span>
                </div>
                <div>
                    <img src="../../assets/logo.png" alt="Snow" style="width:100%">
                </div>
                <div class="table">
                    <span class="vs vs-o"> vs </span>
                </div>
                <div class="table">
                    <span class="vs"> VITALITY </span>
                </div>
            </div>

        </div>

    </div>
</div>