<section class="home">
    <img src="/assets/contactus.jpg">

    <div class="homecontent">
        <h1> It almost always begins with a conversation</h1>
        <a href="mailto:as.mehra@gmail.com" class="btn btne"> <i class="fa-brands fa-google"></i> Email us </a>
        <a href="https://wa.me/9999113056>" class="btn btnw"> <i class="fa-brands fa-whatsapp"></i> Whatsapp us</a>
        <a href="https://m.me/as.mehra007" class="btn btnf"> <i class="fa-brands fa-facebook"></i> Facebook us</a>
    </div>
</section>
<p class="text-center text-wrap">
    Team 8bit is a Mobile Gaming Team, with a vision beyond expectations. We strives to promote and support Mobile
    Gaming in India. We are a closely knit team that feels that 'brotherhood' is one of our major strengths.
</p>