<div class="container-fluid footer mt-5">
    <p class="text-center text-uppercase fs-4"> #8bit </p>
    <div class="d-flex justify-content-center">
        <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-discord"></i></a>
    </div>

    <p class="text-center text-uppercase fs-4"> 8bit partners </p>
    <div class="d-flex justify-content-center partners">
        <a href="https://www.aorus.com/en-in" target="_blank"><img src="../../assets/aorus.png"></a>
        <a href="https://www.gigabyte.com/" target="_blank" ><img src="../../assets/gigabyte.png"></a>
        <a href="https://www.elgato.com/en" target="_blank" ><img src="../../assets/elgato.png"></a>
        <a href="https://www.corsair.com/ww/en/" target="_blank" ><img src="../../assets/corsair.png"></a>
    </div>

    <div class="d-flex justify-content-between">
        <ul class="list-group">
            <li><a class="nav-link" routerLink="8bit">Team 8BIT</a></li>
            <li><a class="nav-link" routerLink="8bit">BGMI</a></li>
            <li><a class="nav-link" routerLink="8bit">Valorant</a></li>
            <li><a class="nav-link" routerLink="8bit">COD</a></li>
        </ul>
        <ul class="list-group">
            <li><a class="nav-link" routerLink="8bit">Store</a></li>
            <li><a class="nav-link" routerLink="8bit">BGMI</a></li>
            <li><a class="nav-link" routerLink="8bit">Valorant</a></li>
            <li><a class="nav-link" routerLink="8bit">COD</a></li>
        </ul>
        <ul class="list-group">
            <li><a class="nav-link" routerLink="8bit">Team 8BIT</a></li>
            <li><a class="nav-link" routerLink="8bit">BGMI</a></li>
            <li><a class="nav-link" routerLink="8bit">Valorant</a></li>
            <li><a class="nav-link" routerLink="8bit">COD</a></li>
        </ul>
        <ul class="list-group">
            <li><a class="nav-link" routerLink="8bit">Team 8BIT</a></li>
            <li><a class="nav-link" routerLink="8bit">BGMI</a></li>
            <li><a class="nav-link" routerLink="8bit">Valorant</a></li>
            <li><a class="nav-link" routerLink="8bit">COD</a></li>
        </ul>
    </div>


    <div class="d-flex justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" alt="" width="80" height="70">
        </a>
        <span></span>
        <span></span>
    </div>

    <div class="d-flex justify-content-between">
        <span></span>
        <span>© 2022 8BIT All Rights Reserved </span>
        <span></span>
    </div>

</div>